/.classpath
/.externalToolBuilders
/.project
/.settings
target
*.iml
.idea/
catalina.home_IS_UNDEFINED/
*.versionsBackup
*.swp
sender/terraform/.terraform/
*.tfstate
*.tfstate.backup
.project
.classpath
.DS_Store
ledger/.settings
tracker/.settings
*.prefs
ledger/docker/mysql-volume
.terraform
**/node_modules
